button{
            font-size: 16px;
            color: black;
            background-color: white;
            border-style:dashed;
            padding:10px 20px;
}
        button:hover{
            background-color: black;

            color: white;
            cursor: pointer;
}
h1{
    text-align:center;
    text-decoration: underline;
    font-famlily: Arial, sans-serif;
    font-style: italic;
}